<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/bootstrap.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
		<title>{{title}}</title>
	</head>
	<body id="index">
		<div id="hero" class=" container-fluid">
			<div class="row justify-content-center align-items-center text-light h-100 px-5">
				<div class="col-1">
					<a href="#nav" class="btn btn-outline-mint glow-all-mint rounded-0">ENTER</a>
				</div>
			</div>
		</div>

		<nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
			<div class="container">
			  <a class="navbar-brand" href="/">seVIIn's studio</a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/#nav">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/#services">Services</a>
					</li>
					<li class="nav-item">
						{% if session['user_id'] %}
							<a class="nav-link" href="/user_logout">Logout</a>
						{% else %}
							<a class="nav-link" href="/register_login">Register / Login</a>
						{% endif %}
					</li>
					{% if session['nickname'] %}
					<li class="nav-item">
						<h5 class="nav-link">Hi {{session['nickname']}}!</h5>
					</li>
					{% endif %}
					<!-- <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
						<div class="dropdown-menu" aria-labelledby="dropdownId">
							<a class="dropdown-item" href="#">Action 1</a>
							<a class="dropdown-item" href="#">Action 2</a>
						</div>
					</li -->
				</ul>
			  </div>
			</div>
		</nav>

		<div id="inquire" class=" container-fluid">
			<div class="row justify-content-center align-items-center text-light h-100 px-3">
				<div class="intro col-12 col-lg-5">
					<h1>seVIIn's Studio</h1>
					<p>
						The business owner's web presence, photography and video studio. Providing website/web-application, photographs, video solutions with an option that integrates with social media platforms like Facebook and Instagram.
					</p>
				</div>
				<form class="inquire_form col-md-6 col-lg-5" action="/inquiry_form" method="post">
					{% with messages_success = get_flashed_messages(category_filter=["success"]) %}
					{% if messages_success %}
						{%- for msg in messages_success %}
						<div class="mb-3 error-messages">* {{ msg }} *</div>
						{% endfor -%}
					{% endif %}
					{% endwith %}
					<div class="mb-3">
					  <label for="first_name" class="form-label">
						First Name <span class="error-messages">
							{% with messages_first_name = get_flashed_messages(category_filter=["first_name"]) %}
							{% if messages_first_name %}
								{%- for msg in messages_first_name %}
								* {{ msg }} *
								{% endfor -%}
							{% endif %}
							{% endwith %}
						</span>
					  </label>
					  <input type="text"
						class="form-control rounded-0" name="first_name" id="first_name" aria-describedby="helpId" placeholder="" value="{{session['first_name']}}">
					</div>
					<div class="mb-3">
					  <label for="last_name" class="form-label">
						Last Name <span class="error-messages">
							{% with messages_last_name = get_flashed_messages(category_filter=["last_name"]) %}
							{% if messages_last_name %}
								{%- for msg in messages_last_name %}
								* {{ msg }} *
								{% endfor -%}
							{% endif %}
							{% endwith %}
						</span>
					  </label>
					  <input type="text"
						class="form-control rounded-0" name="last_name" id="last_name" aria-describedby="helpId" placeholder="" value="{{session['last_name']}}">
					</div>
					<div class="mb-3">
					  <label for="return_email_address" class="form-label">
						Your Email Address <span class="error-messages">
							{% with messages_return_email_address = get_flashed_messages(category_filter=["return_email_address"]) %}
							{% if messages_return_email_address %}
								{%- for msg in messages_return_email_address %}
								* {{ msg }} *
								{% endfor -%}
							{% endif %}
							{% endwith %}
						</span>
					  </label>
					  <input type="text"
						class="form-control rounded-0" name="return_email_address" id="return_email_address" aria-describedby="helpId" placeholder="" value="{{session['return_email_address']}}">
					</div>
					<div class="mb-3">
						<label for="subject" class="form-label">
							Project Type <span class="error-messages">
								{% with messages_subject = get_flashed_messages(category_filter=["subject"]) %}
								{% if messages_subject %}
									{%- for msg in messages_subject %}
									* {{ msg }} *
									{% endfor -%}
								{% endif %}
								{% endwith %}
							</span>
						  </label>
						<select class="form-control rounded-0" name="subject" id="subject">
							<option value="">Select Project Type</option>
							<option value="Website/Application Development(Ecommerce)">Website/Application Development(Ecommerce)</option>
							<option value="Website/Application Development(Portfolio)">Website/Application Development(Portfolio)</option>
							<option value="Website/Application Development(Blog)">Website/Application Development(Blog)</option>
							<option value="Website/Application Development(Other)">Website/Application Development(Other)</option>
							<option value="Photogrphy(Commercial/Business Purposes)">Photogrphy(Commercial/Business Purposes)</option>
							<option value="Photogrphy(Portrait)">Photogrphy(Portrait)</option>
							<option value="Photogrphy(Event)">Photogrphy(Event)</option>
							<option value="Photography(Other)">Photography(Other)</option>
							<option value="Video(Commercial/Business Purposes)">Video(Commercial/Business Purposes)</option>
							<option value="Video(Behind The Scenes)">Video(Behind The Scenes)</option>
							<option value="Video(Documentary)">Video(Documentary)</option>
							<option value="Video(Interview)">Video(Interview)</option>
							<option value="Video(Music Video)">Video(Music Video)</option>
							<option value="Video(Other)">Video(Other)</option>
						</select>
					</div>
					<div class="mb-3">
					  <label for="message" class="form-label">
						Message <span class="error-messages">
							{% with messages_message = get_flashed_messages(category_filter=["message"]) %}
							{% if messages_message %}
								{%- for msg in messages_message %}
								* {{ msg }} *
								{% endfor -%}
							{% endif %}
							{% endwith %}
						</span>
					  </label>
					  <textarea class="form-control rounded-0" name="message" id="message" rows="3" placeholder="Please state the project requirements, desired outcome, budget, and any other other relevant details you would like to share.">{{session['message']}}</textarea>
					</div>
					<button type="submit" class="btn btn-mint btn-block rounded-0">Send</button>
				</form>
			</div>
		</div>

		<div id="services" class="container-fluid">
			<div class="row gx-5 justify-content-center align-items-center text-light h-100 py-5 px-3">
				<div class="col-12 col-lg-4">
					<div class="card rounded-0">
						<img src="../static/img/dev/AZAN8901.JPG" class="card-img-top rounded-0" alt="...">
						<div class="card-body">
						<h5 class="card-title">Website Development</h5>
						<p class="card-text">
							<ul>
								<li>Ecommerce</li>
								<li>Portfolio</li>
								<li>Business</li>
								<li>Blog</li>
								<li>Integrating ecommerce listings between website, facebook and instagram</li>
							</ul>
						</p>
						<!--p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p-->
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<div class="card rounded-0">
						<img src="../static/img/portraits/1-AZAN3193-ShotByShaneAzania.jpeg" class="card-img-top rounded-0" alt="...">
						<div class="card-body">
						<h5 class="card-title">Photography</h5>
						<p class="card-text">
							<ul>
								<li>Commercial and Business</li>
								<li>Portrait</li>
								<li>Business</li>
								<li>Fashion</li>
								<li>Editorial</li>
								<li>Automotive</li>
								<li>Professional Headshsots</li>
								<li>Events (Including Weddings)</li>
							</ul>
						</p>
						<!--p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p-->
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<div class="card rounded-0">
						<img src="../static/img/portraits/1-22-05-25-PAZA2566-ShaneAzania.jpeg" class="card-img-top rounded-0" alt="...">
						<div class="card-body">
						<h5 class="card-title">Video</h5>
						<p class="card-text">
							<ul>
								<li>Commercial and Business</li>
								<li>Behind The Scenes</li>
								<li>Documentary</li>
								<li>Interview</li>
								<li>Music Video</li>
								<li>Events (Including Weddings)</li>
							</ul>
						</p>
						<!--p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p-->
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="about" class="container-fluid">
			<div class="row gx-5 justify-content-center align-items-center h-100 py-5 px-3">
				<h1 class="col-12 text-center align-self-start">About The Us</h1>
				<p>We function as an agency with a network of technical and creative professionals brought together to produce web development</p>
			</div>
		</div>

		<script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.js') }}"></script>
		<script src="{{ url_for('static', filename='js/index.js') }}"></script>
	</body>
</html>
